/* .bold {font-weight: bold;}
h2 {color:blue;}
p {color:rgb(193, 107, 1)}
div {color:rgb(23, 99, 23);}
li {color:blueviolet;}
.underline {text-decoration: underline;} */
body{background: rgb(206, 224, 240);
     margin:0;
     padding:0;
     font-family: 'Oswald' , sans-serif;}

 /* list-style:none = turns off bullet points */
nav ul {list-style: none; 
        background-color: rgb(5, 41, 99);
        text-align: center;
        padding:0;
        margin:0;}  


nav li {font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        display:inline-block;
        margin: 2.5%;}  

nav a {text-decoration: none;
       color:#fff;
       display:block;}